* {
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/images/background-image.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
}



.content {
  position: absolute;
  /* color: #fff; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  width: 30vw;
  padding-bottom: 10vh; 
}


.content button {
  background: transparent;


}
